<div class="row">

  	<div class="homepage-title">
    	<h3>Latest Stories</h3>
  	</div>

	<div class="six columns offset-by-three">
		<div class="flexslider">
		    <ul class="slides">
		    	<li>
		        	<a href="/build-the-hill">
			        	<img src="/assets/img/slider-images/build-the-hill-slider.jpg">
		        	</a>
		    	</li>
		    	<li>
		        	<a href="/camping">
			        	<img src="/assets/img/slider-images/camping-slider.jpg">
		        	</a>
		    	</li>
		    	<li>
		        	<a href="/sensory-gym">
			        	<img src="/assets/img/slider-images/sensory-gym-slider.jpg">
		        	</a>
		    	</li>
		    	<li>
		        	<a href="/build-a-bed">
			        	<img src="/assets/img/slider-images/build-a-bed-slider.jpg">
		        	</a>
		    	</li>
		    	<li>
		        	<a href="/urban-impact">
			        	<img src="/assets/img/slider-images/urban-impact-slider.jpg">
		        	</a>
		    	</li>
		    	<li>
		        	<a href="/pete-painter">
			        	<img src="/assets/img/slider-images/pete-painter-slider.jpg">
		        	</a>
		    	</li>
		    	<li>
		        	<a href="/flipping-house">
			        	<img src="/assets/img/slider-images/joe-house-slider.jpg">
		        	</a>
		    	</li>
		    	<li>
		        	<a href="/the-delgado">
			        	<img src="/assets/img/slider-images/family-slider.jpg">
		        	</a>
		    	</li>
		    	<li>
		        	<a href="/karen">
			        	<img src="/assets/img/slider-images/karen-slider.jpg">
		        	</a>
		    	</li>
		    </ul>
		</div>
	</div>
</div>