<div class="row">
	<div class="col homepage-title">
		<h3>How it Works</h3>
	</div>
</div>

<div class="row">
	<div class="col how-it-works-section">
		<p>It’s a three step process:<br />

			<strong>Step 1:</strong> Friends of the Joy Project "<a href="https://goo.gl/forms/prBd3LcZuHFk4Hfs1" target= "_blank">nominate</a>" someone they know who is in need of extra support at any time.<br />

			<strong>Step 2:</strong> Members of the Joy Project devise a plan to help this someone and cover any costs involved using Joy Project funds.<br />

			<strong>Step 3:</strong>  Friends of the Joy Project unite and set out to spread the Joy!
		</p>
	</div>
</div>
