<div class="row">
	<div class="col homepage-title">
		<img src="assets/img/Our_Fathers_Daughter.jpg" style="width:300px;">
	</div>
</div>

<div class="row">
	<div class="col ofd-section">
		<h1><strong>All Day Retreat:&ensp;How to Cope After Losing a Parent</strong></h1>
		<div class="row">
		  <div class="column">
		  	<h2><strong><u>Details</u></strong></h2>
			<p style="text-align:left; padding-left:20%"><strong><u>Date:</u></strong>&ensp;November 10<br/><strong><u>Time:</u></strong>&ensp;9am to 6pm<br/><strong><u>Location:</u></strong>&ensp;Awesome Inc<br/>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;348 E Main Street</p>
			<br/>
			<h2>Crafts&ensp;&#8226;&ensp;Relaxation&ensp;&#8226;&ensp;Coping Strategies&ensp;&#8226;&ensp;Community&ensp;&#8226;&ensp;Joy</h2>
		  </div>
		  <div class="column">
		  	<h2><strong><u>Description</u></strong></h2>
		    <p>Our Father's Daughters was founded by a group of ladies brought together by the common thread of tragedy but forever bonded by God's healing touch. In memory of our earthly fathers, we want to follow our Heavenly Father's plan to help other young ladies walk in joy again after losing a parent by offering community, prayers, support, and coping strategies.</p>
		  </div>
		  <div class="column">
		  	<h2><strong><u>More Info</u></strong></h2>
		  	<p>Visit our facebook page for more information.<br/><br/><a href="http://facebook.com/ofdministry">http://facebook.com/ofdministry</a></p>
		  	<a href="http://facebook.com/ofdministry" target="blank"><img src="/assets/img/facebook_icon.png" style="width:70px; float:bottom;"></a>
		  </div>
		</div>
	</div>
</div>
