<div class="row">
	<div class="col homepage-title">
		<img src="assets/img/Our_Fathers_Daughter.jpg" style="width:300px;">
	</div>
</div>

<div class="ofd-section">
	<h1><strong>All Day Retreat:&ensp;How to Cope After Losing a Parent</strong></h1>
	<div class="row">
		<div class="col-lg-4">
			<h2><strong><u>DETAILS</u></strong></h2>
			<p><strong><u>Date:</u></strong>&ensp;November 2<br/><strong><u>Time:</u></strong>&ensp;9am to 1pm<br/><strong><u>Location:</u></strong>&ensp;Dwarf Baptist Church<br/>14 Combs Branch Rd, Dwarf, KY</p>
			<h2>Crafts&ensp;&#8226;&ensp;Relaxation&ensp;&#8226;&ensp;Coping Strategies&ensp;&#8226;&ensp;Community&ensp;&#8226;&ensp;Joy</h2>
			<br/>
		</div>
		<div class="col-lg-4">
			<h2><strong><u>DESCRIPTION</u></strong></h2>
			<p>Our Father's Daughters was founded by a group of ladies brought together by the common thread of tragedy but forever bonded by God's healing touch. In memory of our earthly fathers, we want to follow our Heavenly Father's plan to help other young ladies walk in joy again after losing a parent by offering community, prayers, support, and coping strategies.</p>
			<br/>
		</div>
		<div class="col-lg-4">
			<h2><strong><u>MORE INFO</u></strong></h2>
			<p>Visit our facebook page for more information.<br/><a href="http://facebook.com/ofdministry">http://facebook.com/ofdministry</a></p>
			<a href="http://facebook.com/ofdministry" target="blank"><img src="/assets/img/facebook_icon.png" style="width:70px;"></a><br/>
			<br/>
		</div>
	</div>
</div>
