---
# Main Sass Stylesheet for Continuous Joy Project
# Created by Brendan Thompson
# Built off the Design by Melanie Stoeckle and Huu Nguyen
---

// =====================================
// Contents:
//  - Fonts
//  - Style For Body
// 	- Style For NavBar
//  - Style For Footer
// 	- Style For Home Page
// 	- Style For Posts Display
//	- Style For Within Actual Posts
// =====================================

// =====================================
// Style For Body
// =====================================

body {
  margin: 0;
}

// =====================================
// Style For NavBar
// =====================================

nav.primary {
  clear: both;
  overflow: hidden;
  // margin: 0 0 1.5em;
  padding-left: 5%;
  // padding-right: 20%;
  position: fixed;
  // top:0px;
  left:0px;
  width: 100%;
  z-index: 99;
  background: #333333;
  img {
    // margin: 20%;
    width: 80px;
    height: auto;
  }
}

// Logo & Font
.navbar-brand{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  h1 {
    color: #fff;
    font-size: 2.5em;
    margin-top: -75px;
    margin-left: 130px;
    position: fixed;
    font-weight: 400;
  }
}

// List Items
.navbar-nav {
  float: right;
  text-align: right;
  color: #fff;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-right: 5%;
  font-size: 1.5em;
  text-transform: uppercase;
}

// =====================================
// Style For Footer
// =====================================

.footer-main {
  clear: both;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;
  background-color: rgb(229, 59, 81);
  display: block;
  padding-top: 20px;
  span {
    font-size: 20px;
    color: #fff;
  }
  h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:1.5em;
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    // text-align: center;
  }
  h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: underline;
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #fff;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

.footer-width {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 1200px;
}

.footer-widget{
  address, span {
    font-weight: 300;
    text-decoration: none;
    font-style: normal;
  }
}

#footer-email {
    font-weight: 400;
}

.footer-list {
  list-style: none;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  padding: 0px;
  li {
    padding: 20px;
    margin: 0px;
    background: transparent url('/assets/img/design/border-underline.png') left bottom repeat-x;
    color: #fff;
  }
  li:before {
    content:"⟩";
    padding-right: 12px;
  }
  li:hover {
    background: #fff;
    color: #e53b51;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
  }
  li:hover a {
    color: #e53b51;
  }
}

// Submit your Nomination Button
.footer-button {
  font-weight: 400;
  text-align: right;
  a {
    color: #ffeef0;
    border: 1px solid #e53b51;
    text-decoration: none;
  }
  a:hover {
    background: #e53b51;
    color: #fff;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
  }
}

// Bottom-most bar with Copyright, Designer, and Developer
.footer-bottom {
  background-color: #000;
  padding-top: 20px;
  font-family: Gill Sans;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.08em;
}

// =====================================
// Style For Home Page
// =====================================

.homepage-container {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.header-container {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#header-image {
  width: 100%;
  height: auto;
  padding: 5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

// #header-phrase-container {
//   // width: 100%;
//   // text-align: center;
// }

// #header-phrase {
//   position: absolute;
//   width:20%;
//   top: calc(50% - 40px); //40px is font size
//   text-align: center;
//   padding-left: 7px;
//   padding-right: 7px;
//   color: white;
//   background-color: rgba(229, 59, 81, 0.8);
//   font-size: 40px;
//   font-family: 'Yanone Kaffeesatz', sans-serif;
//   font-weight: 400;
// }

// Title Heading For Each Section
.homepage-title {
  text-align: center;
  background: transparent url("/assets/img/design/header-line.png") repeat-x 0 60%;
  margin-bottom: 24px;
  h3, h2 {
    background: #fff;
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    // font-size: 4em;
    margin-bottom: -20px;
    margin-top: -50px;
    vertical-align: bottom;
  }
}

.mission-section {
  background: #e53b51;
  border-radius: 5px;
  p {
    color: #fff;
    padding: 5%;
    text-align: left;
    font-size: 1.9em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
}

.how-it-works-section {
  background-color: rgba(120,120,120,0.1);
  border-radius: 10px;
  p {
    color: black;
    padding: 5%;
    text-align: left;
    font-size: 1.9em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  strong, a {
    color: #e53b51;
  }
}

// =====================================
// Style For Posts Display
// =====================================

.stories-slider {
  margin-left: 15%;
  margin-right: 15%;
  height: 20%;
}

.flex-caption {
  width: 100%;
  padding: 2%;
  background: #333333;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 1.9em;
}

.flex-direction-nav a {
  height: 55px;
}

// =====================================
// Style For Within Actual Posts
// =====================================

.post-title h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 700;
  color: #e53b51;
  font-size: 3.0em;
  margin-top: 40px;
}

.post-image {
  width: 100%;
  height:auto;
  margin-bottom: 20px;
}

.post-content {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  display: block;
  font-size: 22px;
}
