---
layout: page
---

<div>
 	<section class="homepage-container" id="header">
  		{% include mainHeader.html %}
  </section>

    <br>

 	<section class="homepage-container" id="mission">
  		{% include mission.html %}
	</section>

  	<br>

 	<section class="homepage-container" id="howItWorks">
  		{% include howItWorks.html %}
	</section>

  	<br>

  <!-- Latest Stories Slider: -->
  <section class="homepage-container" id="stories">
      <div class="homepage-title">
        <h3>Latest Stories</h3>
      </div>
      <div class="stories-slider">
        {% include flexslider-hardcoded.html %}
      </div>
  </section>
</div>
