<!DOCTYPE html>
<html lang="en">

  {% include head.html %}\

  <body>

    {% include nav.html %}

    <br>
    <br>
    <br>
    <br>

    {{ content }}

    {% include footer.html %}

    {% include slider_scripts.html %}

    <!-- Google Analytics JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2028878-12']);
	  _gaq.push(['_setDomainName', 'continuousjoy.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
